<h2>Search for Card Name</h2>

<form>
  Card name:<br>
  <input type="text" name="name">
</form>

<br>

<table width="width:10em">
{% for card in cardsJSON %}
  <tr{% if loop.first %} class="first"{% endif %}>
  	<!-- <td>
  	{{card.name}}
  	<br>
  	<a href ={{card.store_url}}>Store Link</a>
  	<br>
  	<a href ={{card.url}}>API Link</a>
  	</td> -->
  	<td>
  		{% if card.editions[0].multiverse_id == 0 %}
  			<a href={{card.store_url}}><img src={{card.editions[1].image_url}} width="223" height="310"></a>
  		{% else %}
  			<a href={{card.store_url}}><img src={{card.editions[0].image_url}} width="223" height="310"></a>
  		{% endif %}
    </td>
  </tr>
</table>

