{% extends 'layout.html' %}

{% block body%}
  <div id="heading">  
    <h2>Search for Card Name</h2>
    <form>
      Card name:<br>
      <input type="text" name="name">
    </form>
  </div>

  <br>

  <table>
  {% for card in cardsJSON %}
  {% if loop.index % 4 === 1 %}
    <tr>
  {% endif%}
    	<td>
        {% if card.editions[0].multiverse_id == 0 %}
          <a href={{card.store_url}}><img src={{card.editions[1].image_url}} width="223" height="310"></a>
        {% else %}
          <a href={{card.store_url}}><img src={{card.editions[0].image_url}} width="223" height="310"></a>
        {% endif %}
      </td>
  {% if loop.index % 4 === "1" %}
    </tr>
  {% endif%}  
  {% endfor %}
  </table>
{% endblock %}
